# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [15]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import geoapify_key

In [16]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,faya,18.3851,42.4509,22.06,35,21,2.60,SA,1666108228
1,1,farsund,58.0948,6.8047,13.30,100,0,7.65,NO,1666108228
2,2,new norfolk,-42.7826,147.0587,11.72,58,12,1.34,AU,1666108230
3,3,jamestown,42.0970,-79.2353,5.77,77,100,9.77,US,1666107934
4,4,lanzhou,36.0564,103.7922,14.53,48,59,1.20,CN,1666108230

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [ ]:
# Configure the map plot


map_1 = city_data_df.hvplot.points(
    "Lng",
    "Lat",
    geo = True,
    tiles = "OSM",
    scale = 1,
    size = "Humidity"
)


# Display the map
map_1

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [22]:
# Narrow down cities that fit criteria and drop any results with null values

city_data_criteria = city_data_df.loc[(city_data_df['Max Temp'] >= 27) & (city_data_df['Max Temp'] <= 32)] 

# Drop any rows with null values
city_data_criteria_clean = city_data_criteria.dropna()

# Display sample data
city_data_criteria_clean

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,12,trairi,-3.2778,-39.2689,31.07,51,34,8.09,BR,1666108038
39,39,tomatlan,19.9333,-105.2500,28.05,71,93,0.58,MX,1666108255
41,41,sao joao da barra,-21.6403,-41.0511,29.05,75,60,7.15,BR,1666108256
71,71,cobija,-11.0267,-68.7692,27.10,83,100,1.54,BO,1666108274
94,94,butaritari,3.0707,172.7902,27.47,77,100,6.02,KI,1666108291
...,...,...,...,...,...,...,...,...,...,...
520,520,bauta,22.9828,-82.5464,28.24,71,89,2.69,CU,1666108538
533,533,nicoya,10.1483,-85.4520,28.22,73,100,0.90,CR,1666108544
542,542,bilma,18.6853,12.9164,31.90,18,0,4.17,NE,1666108548
550,550,pali,25.7667,73.3333,27.18,26,0,1.38,IN,1666108552
568,568,road town,18.4167,-64.6167,31.02,70,40,4.12,VG,1666108560

In [ ]:
city_data_criteria_clean.columns

### Step 3: Create a new DataFrame called `hotel_df`.

In [23]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = city_data_criteria[['City', 'Country', 'Lat', 'Lng', 'Humidity']].copy()

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df['Hotel Name'] = ""

# Display sample data
hotel_df

                  City Country      Lat       Lng  Humidity Hotel Name
12              trairi      BR  -3.2778  -39.2689        51
39            tomatlan      MX  19.9333 -105.2500        71
41   sao joao da barra      BR -21.6403  -41.0511        75
71              cobija      BO -11.0267  -68.7692        83
94          butaritari      KI   3.0707  172.7902        77
..                 ...     ...      ...       ...       ...        ...
520              bauta      CU  22.9828  -82.5464        71
533             nicoya      CR  10.1483  -85.4520        73
542              bilma      NE  18.6853   12.9164        18
550               pali      IN  25.7667   73.3333        26
568          road town      VG  18.4167  -64.6167        70

[71 rows x 6 columns]

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [24]:
# Set parameters to search for a hotel
radius = 10000
params = {
"categories":"accommodation.hotel",
    "limit": 20,
    "apiKey":geoapify_key
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    lng = row["Lng"]
    lat = row["Lat"]

    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{lng},{lat},{radius}"
    params["bias"] = f"proximity:{lng},{lat}"
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = requests.get(base_url, params=params)
    
    # Convert the API response to JSON format
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
trairi - nearest hotel: Pousada Villa Aurora
tomatlan - nearest hotel: Hotel Hacienda Vieja Tomatlan
sao joao da barra - nearest hotel: Pousada Mediterrâneo
cobija - nearest hotel: Hotel El Cristo
butaritari - nearest hotel: No hotel found
kavaratti - nearest hotel: No hotel found
itarema - nearest hotel: Pousada Oásis
siavonga - nearest hotel: Lake Safari Lodge Annex
calabozo - nearest hotel: Gran Hotel Guarico
kavieng - nearest hotel: Kavieng Hotel
arraial do cabo - nearest hotel: No hotel found
hithadhoo - nearest hotel: Pebbles Inn
georgetown - nearest hotel: Page 63 hostel
sabang - nearest hotel: Sabang Hill
corn island - nearest hotel: Sunrise Hotel
sur - nearest hotel: Sur Hotel
chunhuhub - nearest hotel: No hotel found
freetown - nearest hotel: Formal Leona hotel
shakawe - nearest hotel: Drotsky's Cabins
gwanda - nearest hotel: No hotel found
cabra - nearest hotel: Pensión Guerrero
touros - nearest hotel: Pousada Atlântico
ladario - nearest hotel: Hotel Gold Fish
puri - nearest hotel: Divine Beach Homestay
sorong - nearest hotel: Hotel Membramo Marina
high rock - nearest hotel: No hotel found
tchaourou - nearest hotel: Auberge
prieska - nearest hotel: No hotel found
samana - nearest hotel: Hotel Cotubanamá
cockburn town - nearest hotel: The Salt Raker Inn
praia - nearest hotel: Casa Sodadi
san andres - nearest hotel: Hotel Decameron Isleño
dunmore town - nearest hotel: The Landing Hotel & Restaurant
aquiraz - nearest hotel: Pousada tia Fabíola
la romana - nearest hotel: Hotel Frano
bucerias - nearest hotel: Royal Decameron Complex
bathsheba - nearest hotel: Atlantis Hotel
yarada - nearest hotel: daspalla
bafoulabe - nearest hotel: No hotel found
juruti - nearest hotel: No hotel found
mana - nearest hotel: Le Samana
mandera - nearest hotel: Kornesh Hotel and Lodging
vila velha - nearest hotel: Hotel Prainha
buraydah - nearest hotel: دنا للوحدات السكنية
port-gentil - nearest hotel: Tara-Mé
acajutla - nearest hotel: Hotel Lara
mahibadhoo - nearest hotel: No hotel found
cabo san lucas - nearest hotel: Comfort Rooms
gamboma - nearest hotel: No hotel found
rundu - nearest hotel: Kavango River Lodge
carutapera - nearest hotel: No hotel found
lorengau - nearest hotel: Seeadler Bay Hotel
cabedelo - nearest hotel: No hotel found
lakki marwat - nearest hotel: No hotel found
thinadhoo - nearest hotel: No hotel found
terra santa - nearest hotel: Hotel Novo Horizonte
yaan - nearest hotel: No hotel found
ixtapa - nearest hotel: Ma. Cristina
beira - nearest hotel: Hotel Savoy
the valley - nearest hotel: CeBlue
praya - nearest hotel: Casa Sodadi
abu zabad - nearest hotel: No hotel found
brokopondo - nearest hotel: No hotel found
tikrit - nearest hotel: فندق بلازا
sawakin - nearest hotel: Hotel Halfa
rameswaram - nearest hotel: Hyatt Place Hotel
bauta - nearest hotel: No hotel found
nicoya - nearest hotel: Hotel marianela
bilma - nearest hotel: No hotel found
pali - nearest hotel: Hotel Pawan International
road town - nearest hotel: No hotel found

,City,Country,Lat,Lng,Humidity,Hotel Name
12,trairi,BR,-3.2778,-39.2689,51,Pousada Villa Aurora
39,tomatlan,MX,19.9333,-105.2500,71,Hotel Hacienda Vieja Tomatlan
41,sao joao da barra,BR,-21.6403,-41.0511,75,Pousada Mediterrâneo
71,cobija,BO,-11.0267,-68.7692,83,Hotel El Cristo
94,butaritari,KI,3.0707,172.7902,77,No hotel found

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [ ]:
%%capture --no-display

# Configure the map plot
map_plot_2 = hotel_df.hvplot.points(
    "Longitude",
    "Latitude",
    hover_cols=['Hotel Name','Country'],
    geo = True,
    tiles = "OSM",
    frame_width = 800,
    frame_height = 500,
)

# Display the map
map_plot_2